<div id="register" class="flex">
  <div class="register-top flex">
    <div class="text-center">
      <span>W</span>EBSET
    </div>
    <div class="text-center">
      Already have an account? <span>Sing in</span>
    </div>
  </div>
  <div class="register-middle">
    <h3 class="text-center">
      Create a Freelancer Account of Webset
    </h3>
  </div>
  <div class="register-main flex-center">
    <div class="register-left">
      <div class="login-header">

      </div>
      <div class="login-main flex">
        <div class="userName">
          <div>
            <span class="ui-float-label">
              <input id="float-input1" type="text" [(ngModel)]="userName" size="30" pInputText>
              <label for="float-input">Your userName</label>
            </span>
          </div>
        </div>
        <div class="passWord">
          <div>
            <span class="ui-float-label">
              <input id="float-input2" type="text" [(ngModel)]="userEmail" size="30" pInputText>
              <label for="float-input">Your email</label>
            </span>
          </div>
        </div>
        <div class="confirmPassword">
          <div>
            <span class="ui-float-label">
              <input id="float-input3" type="password" [(ngModel)]="passWord" size="30" pInputText pPassword>
              <label for="float-input">Your password</label>
            </span>
          </div>
        </div>
        <div class="submit flex-center">
          <div class="register-button text-center" (click)="register()">
            Create Acount
          </div>
        </div>
      </div>
      <div class="login-footer">
        <div>
          By clicking "Create Account" I agree to Webset's Service
        </div>
      </div>
    </div>
    <div class="register-right text-vertical-center">
      <div>
        <img src="../../../assets/img/bg/register.png" alt="">
      </div>
    </div>
  </div>
</div>