<div id="chartRoom" class="flex-column">
  <div class="chatRoomHeader text-vertical-center">
    <div class="uesrNumber">
      <span>当前在线人数：</span>
      <span>3</span>
    </div>
  </div>
  <div class="chatRoomMain flex">
    <div class="messageBox">
      <p-scrollPanel id="ps" #pscroll [style]="{width: '100%', height: '600px'}" [scrollTop]="50">
        <ul class="messageContent" style="margin: 0;">
          <li *ngFor="let item of messageList; let i=index;" >
            <div [ngClass]="{'flex':true,'reverse':!item.direction}">
              <span class="userName" (click)="showUserInfo()">{{item.userName}}</span>
              <div style="width: 1rem;"></div>
              <app-pop-over [direction]="item.direction">
                <span [innerHtml]="item.message"></span>
              </app-pop-over>
            </div>
          </li>
        </ul>
      </p-scrollPanel>
    </div>
    <div class="sendBox flex">
      <div>
        <!-- <input type="text" pInputText
          [(ngModel)]="messageOfSend"
          (keydown.enter)="sendMessage(pscroll)"
        > -->
        <!-- <div class="input"
          contenteditable="true"
          [innerHtml]="messageOfSend"
          (input)="input($event)"
        >
        </div> -->
      <app-div-editor #divEditor [innerText]="messageOfSend" (fromChild)="changeMessageOfSend($event)"></app-div-editor>
      </div>
      <div>
        <button pButton label="表情" (click)="showEmoji()"></button>
      </div>
      <div>
        <button pButton type="button" label="发送" class="ui-button-success" (click)="sendMessage(pscroll)"></button>
      </div>
    </div>
  </div>
  <div class="chatRoomFooter">
    <div class="emojiBox" *ngIf="isShowEmojiBox">
      <span *ngFor="let item of emojiList">
        <img [src]="item.src" [title]="item.title" alt="" (click)="selectEmoji($event)">
      </span>
    </div>
  </div>
</div>
