<div id="chartRoom">
  <div class="chartRoomHeader">

  </div>
  <div class="chartRoomMain flex">
    <div class="uesrNumber">
      <span>当前在线人数：</span>
      <span>3</span>
    </div>
    <div class="messageBox">
      <p-scrollPanel id="ps" #pscroll [style]="{width: '100%', height: '600px'}" [scrollTop]="50">
        <ul class="messageContent" style="margin: 0;">
          <li *ngFor="let item of messageList; let i=index;">
            <span class="userName" (click)="showUserInfo()">{{item.userName}}:</span>
            &nbsp;
            <span class="message">{{item.message}}</span>
          </li>
        </ul>
      </p-scrollPanel>
    </div>
    <div class="sendBox flex">
      <div>
        <input type="text" pInputText [(ngModel)]="messageOfSend">
      </div>
      <div>
        <button pButton type="button" label="发送" class="ui-button-success" (click)="sendMessage(pscroll)"></button>
      </div>
    </div>
  </div>
  <div class="chartRoomFooter">

  </div>
</div>
